In [93]:
import pandas as pd
import sqlite3

Extraction: data can be extracted in various formats, such as CSV, XML, or JSON. We chose to extract it from a CSV file.

In [94]:
df = pd.read_csv('/Users/gokhanduzel/Documents/CSI4142/CSI4142/dataset.csv')

In [95]:
df.isnull().sum()

company                            0
age                                0
market                             0
year                               0
month                              0
                               ...
MACD_50_VOLUME                 19500
DAYS_UNTIL_END_OF_MONTH         1170
DAYS_UNTIL_END_OF_TRIMESTER     1170
DINAMIC3                        1170
TARGET                         15990
Length: 77, dtype: int64

Transformation: this can include data cleaning (handling missing values,
typos, and outliers, removing duplicates, converting data types etc.).

Since we have 90.000 lines of data, we decided to remove the rows that have null values and the rows that are duplicates to clean our data.

In [96]:
# We drop the rows with null values to clean the data.
# We drop the duplicates to create a better and healthier data set.
df = df.dropna()
df.drop_duplicates()

,company,age,market,year,month,day,hour,minute,volume,high,...,AVERAGE_SMA_50_HIGHLOW,EMA_50_HIGHLOW,MACD_50_HIGHLOW,AVERAGE_SMA_50_VOLUME,EMA_50_VOLUME,MACD_50_VOLUME,DAYS_UNTIL_END_OF_MONTH,DAYS_UNTIL_END_OF_TRIMESTER,DINAMIC3,TARGET
21,CNDT,21.0,NASDAQ,2021,11,10,15,30,1276090,6168.0000,...,0.2,240000.0,10000.0,1119416.0,-1.570424e+09,3.839233e+08,18.0,18.0,1.0055,0.0
22,CNDT,22.0,NASDAQ,2021,11,9,15,30,2271889,6.2000,...,0.2,240000.0,10000.0,1133273.3,-5.981061e+08,1.436970e+09,18.0,18.0,1.7866,0.0
23,CNDT,23.0,NASDAQ,2021,11,8,15,30,1670784,6.3400,...,0.2,240000.0,0.0,1104294.2,4.876249e+08,5.222449e+08,18.0,18.0,1.3572,0.0
24,CNDT,24.0,NASDAQ,2021,11,5,14,30,4124330,6.7400,...,0.2,240000.0,10000.0,1091732.5,8.107868e+08,-2.090515e+09,18.0,18.0,3.4500,0.0
25,CNDT,25.0,NASDAQ,2021,11,4,14,30,1129657,7.2100,...,0.2,230000.0,20000.0,1019806.6,1.899391e+09,-1.671812e+09,18.0,18.0,1.1452,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98137,GRTS,197.0,NASDAQ,2021,3,3,15,30,667528,15.4400,...,2.0,1950000.0,-640000.0,3895445.0,-9.033747e+07,-3.837886e+07,18.0,18.0,0.1928,0.0
98138,GRTS,198.0,NASDAQ,2021,3,2,15,30,1160922,15.3700,...,1.9,1920000.0,-720000.0,3887184.3,2.389371e+08,-1.710095e+08,18.0,18.0,0.3695,0.0
98139,GRTS,199.0,NASDAQ,2021,3,1,15,30,378106,14.4000,...,1.9,1900000.0,-800000.0,3868451.0,-1.314554e+09,-6.220639e+08,18.0,18.0,0.1156,0.0
98140,GRTS,200.0,NASDAQ,2021,2,26,15,30,486375,13.8499,...,1.9,1880000.0,-860000.0,3864847.9,-6.226664e+08,-2.125479e+09,18.0,18.0,146.0000,0.0
98141,GRTS,201.0,NASDAQ,2021,2,25,15,30,454686,14.5000,...,1.9,1870000.0,-920000.0,3860351.3,-8.243391e+08,-1.516424e+09,18.0,18.0,0.1371,0.0

In [97]:
df['price_range'] = df['high'] - df['low']
df['daily_return'] = df.groupby('company')['close'].pct_change()

In [98]:
aggregation_functions = {
        'volume': 'mean',
        'price_range': 'mean',
        'daily_return': 'mean',
        'high': 'max',
        'low': 'min'
    }
aggregated_df = df.groupby('company').agg(aggregation_functions)
aggregated_df

               volume  price_range  daily_return      high       low
company
CNDT     1.329771e+06    -7.893457     22.042265    8325.0    5.3000
CNET     1.072504e+06    13.838693     10.734626    2665.0    1.1257
CNFR     7.316339e+04    48.254109     45.709257    3963.0    2.5000
CNOB     1.396002e+05  -978.631202     -0.001966   32605.0   22.8400
CNSP     3.167491e+05    34.188572     11.317826    2058.0    1.2200
...               ...          ...           ...       ...       ...
GRIL     1.051394e+06    21.629778     17.184217    2653.0    0.9800
GRIN     1.287256e+05    76.841887     11.042279   17695.0    5.6900
GRMN     6.640760e+05  7708.221497      5.532302  178805.0  117.7407
GROW     2.143999e+05     2.583684     10.643991    6865.0    5.1800
GRTS     8.064256e+05   255.097155      5.598497   15995.0    6.2300

[390 rows x 5 columns]

In [99]:
print("Aggregated Data Summary")
print(aggregated_df.describe())

Aggregated Data Summary
             volume    price_range  daily_return          high          low
count  3.900000e+02     390.000000    390.000000  3.900000e+02   390.000000
mean   1.144711e+06     565.867902     10.490213  5.985393e+04    40.240200
std    2.676480e+06    5578.313777     18.826803  2.174697e+05   151.887289
min    1.413740e+03  -11230.704524     -0.004080  9.320000e+02     0.433100
25%    7.561900e+04     -91.501433      0.000756  8.574750e+03     4.615000
50%    2.944021e+05      72.615673      5.415515  2.086000e+04    13.475050
75%    9.967647e+05     521.939996     11.206584  4.845500e+04    31.370000
max    2.754297e+07  104645.522669    167.857574  2.925075e+06  2010.000000

In [112]:
top_10_returns = aggregated_df.nlargest(10, 'daily_return')
display(top_10_returns)

               volume  price_range  daily_return     high     low
company
CYRN     2.469677e+06   -49.041257    167.857574    932.0  0.4554
DFFN     1.759682e+06   -23.720225    146.127001   1178.0  0.4331
ERESU    3.311935e+04  -141.440110    105.612592  10669.0  9.0200
CSCW     8.845682e+06   -37.102850     87.904981   1095.0  0.4801
GLG      2.489362e+06   -34.131680     84.138973   2629.0  0.5563
DUOT     2.158941e+04   238.480050     76.782100   9956.0  5.1000
GNFT     1.861945e+04   120.566522     66.226807   5001.0  3.4500
ETACU    1.963772e+04  -333.435794     60.943588  10525.0  9.8600
CTRM     6.305610e+06   -27.032648     57.784936   9698.0  1.8600
GOGL     1.233719e+06  -496.208402     56.142400  11805.0  5.9800

In [117]:
top_10_returns['volume'] = top_10_returns['volume'].astype(int)
#top_10_returns['price_range'] = top_10_returns['price_range'].astype(int)
#top_10_returns['daily_return'] = top_10_returns['daily_return'].astype(int)
#top_10_returns['high'] = top_10_returns['high'].astype(int)
#top_10_returns['low'] = top_10_returns['low'].astype(int)
top_10_returns = top_10_returns.rename({'high':'Highest price'}, axis='columns')
top_10_returns = top_10_returns.rename({'low':'Lowest price'}, axis='columns')
top_10_returns = top_10_returns.rename({'daily_return':'Avarage daily return'}, axis='columns')
top_10_returns = top_10_returns.rename({'price_range':'Avarage daily price range'}, axis='columns')
top_10_returns

,volume,All time price range,Daily return,Highest price,Lowest price
company,,,,,
CYRN,2469676,-49,167,932,0.4554
DFFN,1759681,-23,146,1178,0.4331
ERESU,33119,-141,105,10669,9.0200
CSCW,8845681,-37,87,1095,0.4801
GLG,2489362,-34,84,2629,0.5563
DUOT,21589,238,76,9956,5.1000
GNFT,18619,120,66,5001,3.4500
ETACU,19637,-333,60,10525,9.8600
CTRM,6305609,-27,57,9698,1.8600
GOGL,1233719,-496,56,11805,5.9800

In [119]:
top_10_returns['Surrogate Keys'] = range(1,len(top_10_returns)+1)
top_10_returns

,volume,All time price range,Daily return,Highest price,Lowest price,Surrogate Keys
company,,,,,,
CYRN,2469676,-49,167,932,0.4554,1
DFFN,1759681,-23,146,1178,0.4331,2
ERESU,33119,-141,105,10669,9.0200,3
CSCW,8845681,-37,87,1095,0.4801,4
GLG,2489362,-34,84,2629,0.5563,5
DUOT,21589,238,76,9956,5.1000,6
GNFT,18619,120,66,5001,3.4500,7
ETACU,19637,-333,60,10525,9.8600,8
CTRM,6305609,-27,57,9698,1.8600,9
GOGL,1233719,-496,56,11805,5.9800,10

In [121]:
top_10_returns = top_10_returns.reindex(columns=['Surrogate Keys'] + list([c for c in top_10_returns.columns if c!= 'Surrogate Keys']))
top_10_returns

,Surrogate Keys,volume,All time price range,Daily return,Highest price,Lowest price
company,,,,,,
CYRN,1,2469676,-49,167,932,0.4554
DFFN,2,1759681,-23,146,1178,0.4331
ERESU,3,33119,-141,105,10669,9.0200
CSCW,4,8845681,-37,87,1095,0.4801
GLG,5,2489362,-34,84,2629,0.5563
DUOT,6,21589,238,76,9956,5.1000
GNFT,7,18619,120,66,5001,3.4500
ETACU,8,19637,-333,60,10525,9.8600
CTRM,9,6305609,-27,57,9698,1.8600
GOGL,10,1233719,-496,56,11805,5.9800

In [122]:
top_10_returns.to_csv('Stagged_data.csv')

In [ ]:
conn = sqlite3.connect("stock_data_mart.db")
top_10_returns.to_sql("stock_data", conn, if_exists="replace", index=False)

In [ ]:
conn.commit()
conn.close()